@media (max-width: 768px) {
  /*Barra de navegación*/
  body {
    &.nocturno {
      .navbar {
        background: $Carousel;
      }
    }
  }
  header {
    height: 220px;
  }
  .navbar {
    margin-top: 0;
    height: 250px;
    position: relative;
    bottom: 60px;
    margin-bottom: 0;
    .nav__logo {
      margin-left: 50px;
    }
    .nav__lista {
      position: relative;
      right: 20px;
      top: -110px;
      margin: 0;
      width: auto;
      display: inline-block;
      transition: 0.7s ease all;
      visibility: hidden;
      &.animation {
        // top: 70px;
        transition: 0.8s ease all;
        visibility: visible;
        top: 70px;
        // display: block;
      }
      li {
        padding-bottom: 20px;
      }
    }
    .nav__cta {
      display: none;
    }
    .btn-hamburguer {
      position: relative;
      font-size: 35px;
      right: 20px;
      top: -5px;
      display: block;
    }
  }

  .buscador {
    padding-left: 185px;
    margin-top: 0;
    .logo__buscador {
      margin-top: 26px;
    }
    #search {
      left: 130px;
      top: 520px;
    }
    #boton-buscar {
      right: 0;
      left: 632px;
      top: 527px;
    }
    #btn-borrar-busqueda {
      left: 632px;
      top: 527px;
    }
    .autocomplete {
      top: 37px;
      right: 54px;
    }
    #titulo_busqueda {
      margin-left: 165px;
    }
  }
  .gif__container {
    grid-template-columns: repeat(2, 1fr);
    right: 50px;
  }
  .carousel {
    .contenedor-titulo {
      margin-left: 22px;
    }
    .carousel_content {
      left: 70px;
      width: 645px;
      margin: 0;
      .contenedor-carousel {
        #carousel {
          .cont__img {
            img {
              width: 321px;
            }
          }
        }
      }
    }
    .flechas {
      width: 730px;
      left: 27px;
    }
  }

  .footer__contact {
    display: block;
    position: relative;
    left: 365px;
    .compartir_footer {
      margin-left: 0;
      width: 130px;
      padding-bottom: 15px;
    }
    .iconos_footer {
      margin-right: 0;
      width: 100px;
      padding-bottom: 25px;
    }
    .copyright {
      position: absolute;
      right: 600px;
      margin-right: 0;
      width: 235px;
    }
  }

  /*Seccion favoritos*/
  .listaGifos {
    grid-template-columns: repeat(2, 1fr);
    width: 600px;
    left: 120px;
    right: 0;
  }
  .listaMisGifos {
    grid-template-columns: repeat(2, 1fr);
    left: 150px;
    top: 0;
  }
}
