// Variables
$primary-color: #572ee5;
$secondary-color: #000000;
$third-color: #f3f5f8;
$fourth-color: #50e3c2;
$fifth-color: #ffff;
$sixth-color: #9cafc3;
$font-primary: "Montserrat", sans-serif;
$font-secundary: "Roboto", sans-serif;

//colores modo nocturno
$Body: #37383c;
$Carousel: #222326;
